<html layout:decorator="default-layout" th:with="search = true">

<th:block layout:fragment="title">Customers</th:block>
<th:block layout:fragment="content">
	<table id="searchable_table" class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-4">Email</th>
				<th class="col-md-4">Full Name</th>
				<th class="col-md-3">Paypallets Account Id</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="customer,iter : ${customers}">
				<td th:text="@{${iter.index}+1}"></td>
				<td th:text="${customer.email}"></td>
				<td th:text="${customer.fullName}"></td>
				<td th:text="${customer.paypalletsAccountId}"></td>
			</tr>
		</tbody>
	</table>
</th:block>

</html>