<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"	>
<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="Gamma airlines" />
<meta name="author" content="Mohamed Morsy" />

<title>Gamma Airlines</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="/css/navbar.css" />

</head>
<body>

	<nav class="navbar navbar-default fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/home"><strong>Gamma Airlines</strong></a>
			</div>
			<ul class="nav navbar-nav">
				<div th:replace="/fragments/top_manu"></div>
			</ul>
			<form class="navbar-form navbar-right" action="/logout" method="post">
				<div class="form-group">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" /> <input th:if="${search}"
						type="search" id="search" hidden="${search}" value=""
						class="form-control fa fa-search" placeholder="Search..." />
				</div>
				<button type="submit" class="btn btn-default">Logout</button>
			</form>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div
				th:class="(${width}!=null?'col-md-'+${width}:'col-md-12')+ ' ' + (${offset}!=null?'col-md-offset-'+${offset}:'col-md-offset-0')">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h4>
							<div layout:fragment="title"></div>
						</h4>
					</div>
					<div class="panel-body">
						<div layout:fragment="content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div layout:fragment="models"></div>


	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/jquery/jquery.min.js" />
	<script src="/bootstrap/js/bootstrap.min.js" />
	<script src="/jquery/jquery.searchable-1.0.0.min.js" />
	<script src="/js/searchable.js" />

	<div layout:fragment="js"></div>

</body>
</html>