<html layout:decorator="default-layout" th:with="search = true">



<th:block layout:fragment="title">Gamma Airlines Offers</th:block>
<th:block layout:fragment="content">
	<table id="searchable_table" class="table table-hover">
		<thead>
			<tr>
				<th class="col-md-1">#</th>
				<th class="col-md-3">From</th>
				<th class="col-md-3">To</th>
				<th class="col-md-3">Price</th>
				<th class="col-md-2"></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="offer,iter : ${offers}">
				<td th:text="@{${iter.index}+1}"></td>
				<td th:text="${offer.from}"></td>
				<td th:text="${offer.to}"></td>
				<td th:text="@{${offer.price}+' '+${offer.priceCurrency}}"></td>
				<td><a
					th:href="@{'/customer/purchase/'+${offer.from}+'/'+${offer.to}}">purchase</a></td>
			</tr>
		</tbody>
	</table>
</th:block>
</html>